@{
    ViewBag.Title = "Welcome";
}

<div class="jumbotron">
    <h1>Welcome! <span> &nbsp; &nbsp; ...to APD Web Services </span></h1>
   
        <p class="lead centered"></p><br><br><br><br><br><br><br><br><br>

        
   <p> Web environment intended for office use solely. </p>
   <p> Any concerns or needs regarding the website itself or its inner working please refer to the 
    <a>@Html.ActionLink("Contact us", "Contact", "Home")</a> link also placed at the bottom of the page of any instance</p>
    
</div>

